.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--theme-value-padding-main);
    align-items: center;

    background: var(--theme-palette-main-medium-hover);
    padding: var(--theme-value-padding-main);
    border-radius: var(--theme-value-border_radius-min);
}

.container > i {
    cursor: pointer;
}
