.element, .active {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: var(--theme-value-padding-small);
    align-items: center;

    padding: var(--theme-value-padding-small);

    cursor: pointer;
    border-radius: var(--theme-value-border_radius-min);

    color: var(--theme-palette-font-color-title);
}

.element:hover {
    background: var(--theme-palette-main-hover);
}

.active {
    background: var(--theme-palette-main-hover);
}
