.container {
    height: 100%;

    display: grid;
    grid-template-rows: auto 1fr;
    gap: var(--theme-value-padding-main);
    align-items: start;

    padding: var(--theme-value-padding-main);
}
