.container {
    display: grid;
}

.container > div {
    display: grid;
    grid-template-columns: 40px 1fr 40px 40px 250px;
    gap: var(--theme-value-padding-large);
    align-items: center;

    padding: var(--theme-value-padding-small) var(--theme-value-padding-large);
}
