.container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--theme-value-padding-main);
}

.container > div {
    display: grid;
    grid-auto-flow: column;
    gap: var(--theme-value-padding-small);

    overflow: visible;
}
