.container {
    width: max-content;

    display: grid;
    grid-auto-flow: column;
    gap: var(--theme-value-padding-main);
    align-items: center;
}

.container > div {
    background: var(--theme-palette-main-medium-hover);
    padding: var(--theme-value-padding-small) var(--theme-value-padding-main);
    border-radius: var(--theme-value-border_radius-min);
    cursor: pointer;
}
