.container {
    display: grid;
    grid-auto-flow: column;
    gap: var(--theme-value-padding-main);
    align-items: start;

    padding: 0 var(--theme-value-padding-big);
    width: min-content;
}
