.container {
    background: var(--theme-brand-main-color);
    color: var(--theme-palette-font-color-main);
    border-radius: var(--theme-value-border_radius-min);
    padding: var(--theme-value-padding-large) var(--theme-value-padding-main);
}

.content {
    display: grid;
    gap: var(--theme-value-padding-large);
    text-align: center;

    margin: 0 auto;
    max-width: 700px;
}

.content > h1 {
    text-align: center;
}
