.container {
    display: grid;
    align-items: center;
    text-align: center;

    background: var(--theme-palette-main-light);
    border-radius: var(--theme-value-border_radius-min);
    width: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.container > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: inherit;
}
