.container {
    background: var(--theme-palette-main-medium-hover);
    border-radius: var(--theme-value-border_radius-min);
    padding: var(--theme-value-padding-main);
}

.content {
    height: 100%;

    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--theme-value-padding-main);
}
