.container {
    background: var(--theme-brand-main-color);
    color: var(--theme-palette-font-color-main);

    padding: var(--theme-value-padding-large);
    border-radius: var(--theme-value-border_radius-min);
}
