.container {
    display: grid;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--theme-value-padding-main);
    border-radius: var(--theme-value-border_radius-min);

    background: none;

    width: 100%;
}

.button > i {
    color: var(--theme-palette-main-white-main);
}

.button:hover > i {
    color: var(--theme-palette-main-white-main-hover);
}
