.button {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: var(--theme-value-padding-main);
    border-radius: var(--theme-value-border_radius-min);

    width: 100%;
}

.button:hover {
    background: var(--theme-palette-main-light);
}
