.container {
    display: grid;
    grid-auto-flow: column;
    gap: var(--theme-value-padding-main);
}

.element {
    display: grid;
    grid-auto-flow: column;
    gap: var(--theme-value-padding-small);
    align-items: center;
}

.element > button {
    height: 40px;
    width: 40px;
}
