.element, .active {
    display: grid;
    grid-template-columns: 20px 1fr;
    gap: var(--theme-value-padding-small);
    align-items: center;

    padding: var(--theme-value-padding-small) var(--theme-value-padding-big);

    cursor: pointer;
    border-radius: var(--theme-value-border_radius-max);

    background: var(--theme-palette-main-hover);
}

.active {
    color: var(--theme-palette-font-color-main);
    background: var(--theme-palette-main-dark);
}

.active:hover {
    background: var(--theme-palette-main-dark);
}
