.container {
    display: grid;
    grid-template-columns: 240px 1fr;

    height: 100%;
}

.content {
    height: calc(100vh - 60px);
    overflow-y: scroll;
}

.left {
    background: var(--theme-palette-main-color);
}
