.container {
    display: grid;
    grid-template-columns: 240px 1fr;

    height: 100%;
}

.content {
    background: var(--theme-palette-main-head);
}

.left {
    background: var(--theme-palette-main-color);
}
