.container, .centered, .full {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.centered {
    display: grid;
    align-items: center;
    justify-content: center;

    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
}

.container > .content {
    height: 100%;
}

.full {
    cursor: pointer;

    background: rgba(0, 0, 0, 0.95);
}
