.container {
    display: grid;
    gap: var(--theme-value-padding-big);

    padding: var(--theme-value-padding-main) var(--theme-value-padding-small);
}

.container > div {
    display: grid;
    gap: var(--theme-value-padding-small);
}
