.container {
    display: grid;
    gap: var(--theme-value-padding-big);

    padding: 0 var(--theme-value-padding-small);
}

.container > div {
    display: grid;
    gap: var(--theme-value-padding-small);
}
