.container {
    min-height: 100px;
    width: 500px;

    background: var(--theme-palette-main-color);
    padding: var(--theme-value-padding-big);
    border-radius: var(--theme-value-border_radius-min);

    display: grid;
    gap: var(--theme-value-padding-big);
    grid-template-rows: auto 1fr;
}

.container {
    right: 0;
}

.content {
    display: grid;
    gap: var(--theme-value-padding-main);
}

.centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.content {
    height: min-content;
}

.footer {
    display: grid;
    grid-auto-flow: column;
    justify-content: left;
    gap: var(--theme-value-padding-main);
}
