.container {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: 100%;
}

.content {
    display: grid;
    gap: var(--theme-value-padding-main);
}

.content > div {
    display: grid;
    gap: var(--theme-value-padding-small);
}
