@import url('https://v1.fontapi.ir/css/SFProDisplay');

:root {
    --theme-palette-main-dark: #141414;
    --theme-palette-main-main: #1f1f1f;
    --theme-palette-main-medium: #313131;
    --theme-palette-main-medium-hover: #3a3a3a;
    --theme-palette-main-light: #343434;
    --theme-palette-main-light-hover: #4d4d4d;

    --theme-color-error-main: #ff4646;

    --theme-palette-main-white-main-hover: white;
    --theme-palette-main-white-main: #bdbdbd;

    --theme-palette-main-color: #161617;

    --theme-palette-brand-gradient-main: linear-gradient(270deg, rgb(120, 142, 239) 0%, rgba(158,205,241,1) 100%);

    --theme-palette-color-red-main: #fc3333;
    --theme-palette-color-red-hover: #e12929;

    --theme-palette-brand-color-main: #429cea;
    --theme-palette-brand-color-light: #52a0e7;

    --theme-palette-font-color-title: white;
    --theme-palette-font-color-main: black;

    --theme-value-icon-big: 50px;

    --theme-value-opacity-drag: .6;

    --theme-value-border_radius-min: 4px;
    --theme-value-border_radius-max: 999px;

    --theme-value-max_width-main: 300px;
    --theme-value-max_width-full: 1200px;

    --theme-value-font_size-small: 6px;
    --theme-value-font_size-main: 14px;

    --theme-value-padding-min: 5px;
    --theme-value-padding-small: 8px;
    --theme-value-padding-medium: 10px;
    --theme-value-padding-main: 12px;
    --theme-value-padding-big: 40px;
    --theme-value-padding-large: 60px;
    --theme-value-padding-max: 140px;

    --theme-value-transition-main: .15s ease;
}

html, body, .App, #root {
    font-family: 'SF Pro Display', sans-serif;

    background: var(--theme-palette-main-main);

    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, i, button {
    color: var(--theme-palette-font-color-title);
}

h1 {
    font-size: 100px;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

h4 {
    font-size: 22px;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    font-weight: 300;
}

p {
    font-size: 16px;
    font-weight: 400;
}

button {
    cursor: pointer;
    border: none;
    font: inherit;
}

button {
    transition: background-color var(--theme-value-transition-main);
}

input {
    background: none;
    border: none;
    font: inherit;
}

input:focus {
    outline: none;
}

textarea {
    font: inherit;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a {
    color: var(--theme-palette-brand-color-main);
}

a:hover {
    color: var(--theme-palette-brand-color-light);
}

#unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

#undraggable {
    -webkit-user-drag: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--theme-palette-main-dark);
}

::selection {
    -webkit-text-fill-color: var(--theme-palette-font-color-title);
    background: var(--theme-palette-brand-color-main);
}

hr {
    border: none;
    border-bottom: 1px solid var(--theme-palette-main-medium);
}
