:root {
    --theme-palette-main-head: #ffffff;
    --theme-palette-main-color: #f6f5f3;
    --theme-palette-main-hover: #dedede;

    --theme-palette-main-light: #eaeaea;
    --theme-palette-main-dark: #a6a6a6;

    --theme-brand-main-color: #0061fe;
    --theme-brand-main-color-light: #2d82ff;

    --theme-palette-font-color-main: white;

    --theme-value-border_radius-min: 8px;
    --theme-value-border_radius-max: 999px;

    --theme-value-padding-small: 6px;
    --theme-value-padding-medium: 10px;
    --theme-value-padding-main: 14px;
    --theme-value-padding-big: 20px;
    --theme-value-padding-large: 40px;
    --theme-value-padding-max: 140px;

    --theme-value-border-main: 1px solid var(--theme-palette-main-dark);
}

html, body, .App, #root {
    height: 100vh;
    width: 100vw;

    overflow: hidden;
}

* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, p {
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 25px;
}

button {
    cursor: pointer;
    border: none;
}

input {
    background: none;
    border: none;
}

input:focus {
    outline: none;
}

textarea {
    font: inherit;
    border: none;
    resize: none;
}

textarea:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-drag: none;
}

#undraggable {
    -webkit-user-drag: none;
}
