.button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: var(--theme-value-padding-main);

    background: var(--theme-palette-main-medium);
    padding: var(--theme-value-padding-main) var(--theme-value-padding-big);
    border-radius: var(--theme-value-border_radius-min);

    cursor: pointer;
}

.button:hover {
    background: var(--theme-palette-main-medium-hover);
}
